.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin-bottom: 20px;
  background-color: rgb(22, 21, 21);
}

.logo > .link > h2 {
  color: var(--theame-color);
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
}

.right > .link > .login {
  cursor: pointer;
  padding: 30px 10px;
  margin: 0;
  font-size: 15px;
}

.right > .link > .login:hover {
  background-color: var(--theame-color);
}

.right > .link > .cart {
  cursor: pointer;
  padding: 30px 10px;
  margin: 0;
  font-size: 15px;
}

.right > .link > .cart:hover {
  background-color: var(--theame-color);
}

.dropdown-toggle {
  color: whitesmoke;
  text-decoration: none;
  padding: 30px 10px;
  font-size: 14px;
}

.dropdown-toggle:hover {
  background-color: var(--theame-color);
  color: whitesmoke;
}

.dropdown-menu {
  background-color: rgb(22, 21, 21);
}

.show > .dropdown-toggle {
  color: var(--theame-color);
}

.show > .dropdown-toggle:hover {
  color: whitesmoke;
}

.dropdown-menu > .dropdown-item {
  color: whitesmoke;
  font-size: 20px;
  font-weight: lighter;
  border-bottom: 0.1px solid gray;
}

.dropdown-menu > .dropdown-item:hover {
  color: black;
}
